# Fichiers compilés Java
*.class

# Fichiers de log
*.log

# Fichiers spécifiques aux IDE
.idea/
*.iml
*.ipr
*.iws
/.vscode/

# Fichiers de système de build (Maven, Gradle, etc.)
/target/
/build/

# Fichiers de configuration d'Eclipse
/.settings/
/.classpath
/.project

# Fichiers de sauvegarde créés par les éditeurs de texte
*~
*.bak
*.swp

# Fichiers de configuration spécifiques aux systèmes d'exploitation
.DS_Store
Thumbs.db

# Fichiers générés pour BlueJ
*.ctxt

# Fichiers pour les outils mobiles Java (J2ME)
.mtj.tmp/

# Fichiers de paquets Java
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs de crash de la machine virtuelle Java
hs_err_pid*

# Ignorer le répertoire de sauvegarde de l'IDE (NetBeans)
nbproject/

# Ignorer les fichiers liés à la base de données
*.db

# Ignorer les fichiers temporaires générés par le système
*.tmp
